/* ============================  
 Personal Finance Tracker App
// ============================ */


#transaction-list li {
  background: #f9f9f9;
  padding: 10px;
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #007bff;
  border-radius: 6px;
} 

body{
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f6f8;
}
.container{
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.balance{
   
    background-color: #f4f6f8;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
}
h1,h2,h3{
    text-align: center;
    color: black;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}
form input, form select, form button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
}
form button{
    background-color: blue;
    border: 0;
    grid-column: span 2;
    cursor: pointer;
    color: white;
}
form button:hover {
  background: #0056b3;
}
#transaction-list {
  list-style: none;
  padding: 0;
}



